<div class="b-banner">
  <div class="banner-image">
    <img src="/uploads/default/original/1X/1f870765a2c7bbaaacd2c206e08ca2adaefcdb1e.png" alt="Welcome to the ISSUP Forum">
  </div>
  <div class="banner-text">
    <h1>Welcome to the ISSUP Forum</h1>
    <div class="banner-links">
      <p>Other useful resources: </p>
      <ul>
        <li><a href="https://www.issup.net/knowledge-share/news">Latest ISSUP news</a></li>
        <li><a href="https://www.issup.net/knowledge-share/research">Latest Research</a></li>
        <li><a href="https://www.issup.net/knowledge-share/publications">Latest Publications</a></li>
        <li><a href="https://www.issup.net/knowledge-share/events">Upcoming Events</a></li>
      </ul>
    </div>
    <div class="description">
      <p>An opportunity to share, discuss and learn about matters within the prevention and treatment fields.  We encourage your comments and welcome constructive and civilised debates.</p>
      <p class="disclaimer">Please note that the content provided in this forum does not necessarily reflect the views of ISSUP. It is provided to inform and prompt discussion of key issues in the substance use prevention and treatment field with a view to encouraging evidence based policy, high quality and ethical policy and practice.</p>
    </div>
  </div>
</div>
