.b-banner {
  display: none;
  font-size: 16px;
  line-height: 150%;
  margin: 20px 0;

  h1 {
    color: $quaternary;
    margin: 20px 0;
  }

  .description {
    margin: 0 20%;

    p {
      margin: 0.5em 0;

      &.disclaimer {
        font-style: italic;
        font-size: 14px;
      }
    }
  }

  .banner-image {
    float: left;
    margin: 0 30px 0 10px;
    height: 215px;
    width: 215px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .banner-links {
    float: right;
    font-size: 14px;
    line-height: 100%;
    width: 20%;
    margin-left: 60px;

    ul {
      margin: 0 0 0 10px;

      li {
        margin: 10px 0;
      }
    }
  }
}

.navigation-topics .b-banner, .navigation-categories .b-banner {
  display: block;
}

@media only screen and (max-width: 1000px) {
  .b-banner {
    font-size: 14px;
    line-height: 125%;

    .banner-image {
      display: none;
      margin-bottom: 10px;
    }

    .banner-text {
      margin-bottom: 10px;
    }

    .description {
      margin: 0;
    }

    .banner-links {
      margin: 0 40px 20px 60px;
      width: auto;

      p:first-child {
        margin-top: 0;
      }
    }

    h1 {
      margin: 20px 0;
      font-size: 1.4em;
    }
  }
}

@media only screen and (max-width: 480px) {
  .b-banner {
    display: none !important;
  }
}
